body {
  overflow-x: hidden;
  background: url(background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
:root {
  --blue: #5ce1e6;
  --pink: #cb6ce6;
}
button {
  outline: 0;
}
button:focus {
  outline: 0;
}
